/* Tipos de font-family de Google. Buscar la forma de implementarlo en 'fonts.google' */
@import url('https://fonts.googleapis.com/css?family=Sniglet');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');