h1{
    font-weight: 300 !important
}

.toast {
    height: auto;
    width: auto;
    background-color: rgb(168, 240, 168);
}

.row .btn-light {
    right: 0;
    position: absolute;
    border-radius: 50%;
    margin-right: 2%;
}

.img_profile_modal{
    width: 4rem;
    height: 4rem;
    border-radius: 50%; 
}

.card-body {
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 28rem !important;
    height: 11rem !important;
}

#abajo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.list-group-item:hover {
    cursor: pointer;
    color: #18BC9C;
}

#img_profile {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

#contenedor_img {
    position: relative;
    width: 33.3%;
    height: 35%;
    display: inline-block;
    padding: 0.4%;
    /*funciona como margin entre las imágenes*/
}

#delete_img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    position: absolute;
    top: 8%;
    right: 0.5%;
    z-index: 10px;
}

#delete_img:hover {
    cursor: pointer;
}

.a {
    text-align: center;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
   
    ngb-pagination ::ng-deep .pagination .page-link {
        padding-top: 0.1rem !important;
        padding-right: 0.1rem !important;
        padding-bottom: 0.1rem !important;
        padding-left: 0.1rem !important;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
   
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  
    /* ngb-pagination ::ng-deep .pagination .page-link {
        padding-top: 0.3rem !important;
        padding-right: 0.3rem !important;
        padding-bottom: 0.3rem !important;
        padding-left: 0.3rem !important;
    } */
   
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}