<div *ngIf="mascota" class="container fade-in mt-3" style="position: relative">

    <div aria-live="polite" aria-atomic="true">
        <div id="toast_id" class="toast" data-delay="2000" style="position: absolute; top: 0; right: 0; z-index: 9999;">
            <div class="toast-header">
                <strong class="mr-auto">Mensaje</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body font-weight-light pl-3 pr-3">
                Enviado a {{mascota.nombre_mascota}}!
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-3">
            <img id="img_profile" [src]="mascota.profile_pic" alt="imagen_perfil">
        </div>

        <div class="col-5 d-flex align-items-center">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h1 class="ml-2">{{mascota.nombre_mascota}} </h1>
                        <button type="button" data-toggle="modal" data-target="#nuevo_sms" class="btn btn-light"><img
                                src="https://image.flaticon.com/icons/svg/1108/1108905.svg" class="mb-1" width="18"
                                height="20"></button>
                    </div>
                    <p>{{ mascota.biografia || '¿Qué querés decir de la mascota?' }}</p>
                    <div class="d-flex justify-content-around">
                        <div class="d-inline">
                            <i class="fas fa-map-marker-alt"></i>
                            <p class="ml-1 d-inline text-muted">{{ mascota.provincia.nombre_provincia }},
                                {{mascota.pais.nombre_pais}}</p>
                        </div>
                        <div class="d-inline">
                            <i class="fas fa-paste"></i>
                            <p class="ml-1 d-inline text-muted">{{cant_post || 0 }} post</p>
                        </div>
                        <div class="d-inline">
                            <i class="far fa-calendar-alt"></i>
                            <p class="ml-1 d-inline text-muted">{{ mascota.fecha_nac | date: 'd/M/yyyy' : 'UTC' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8">
            <div *ngIf="mascota" class="mb-5 mt-4 pb-1">
                <app-lista-post [mascota]="mascota" (cant_post)="refreshNumberPost($event)"></app-lista-post>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="nuevo_sms" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div *ngIf="mascota" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenter"><img class="img_profile_modal mr-2"
                        [src]="mascota.profile_pic">
                    {{ mascota.nombre_mascota }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea [formControl]="sms_contenido" class="form-control col-12 shadow-none" rows="2"
                    placeholder="Escribe un mensaje..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="!sms_contenido.valid" (click)="enviarMensaje()"
                    class="btn btn-primary" data-dismiss="modal">Enviar</button>
            </div>
        </div>
    </div>
</div>