.cabecera_post {
    margin-bottom: 2%;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

.card .card-header {
    background-color: rgb(201, 200, 200);
}

#img_dots {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.card-body {
    padding: 3vh 3vh !important;
    height: auto;
    max-height: 110vh;
    overflow-y: auto;
}

#delete_img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    position: absolute;
    top: 8%;
    right: 0.5%;
    z-index: 10px;
}

#delete_img:hover {
    cursor: pointer;
}

#contenedor_img {
    position: relative;
    width: 33.3%;
    height: 35%;
    display: inline-block;
    padding: 0.45%;
    /*funciona como margin entre las imágenes*/
}

.style_card_img {
    border-radius: 8px;
    position: relative;
    height: 100%;
    width: 100%;
}

.cabecera_post img {
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-right: 0.5vh;
}

.cuerpo_post {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 2%;
}

.bs-tooltip-right {
    margin-right: 210px !important;
}

.fecha_cab_post {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: darkgray;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .cabecera_post img {
        width: 2vh;
        height: 2vh;
        margin-right: 3px !important;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .cabecera_post img {
        width: 2.2vh;
        height: 2.2vh;
        margin-right: 3px !important;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .cabecera_post img {
        width: 2.5vh;
        height: 2.5vh;
        margin-right: 3px !important;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}