<div *ngIf="spinner_loading; else cargado" class="text-center mt-5">
    <div class="spinner-border" role="status">
    </div>
</div>

<ng-template #cargado>
    <div class="card">
        <div class="card-body fade-in">

            <div *ngIf="posteos && posteos.length > 0; else sinPosteos">
                <div *ngFor="let post of posteos" id="card_post" class="card mt-2">
                    <div class="cabecera_post">
                        <div *ngIf="router.url === '/home'" class="fecha_cab_post">
                            <button id="eliminar_post_boton" type="button" class="btn btn-link"
                                (click)="seleccionarPostBorrar(post)" style="border-radius: 50%;" data-toggle="modal"
                                data-target="#exampleModal">
                                <img id="img_dots" src="https://image.flaticon.com/icons/svg/216/216658.svg">
                            </button>
                        </div>
                        <img class="mr-2" id="img_perfil" [src]="mascota.profile_pic">
                        <strong>{{ mascota.nombre_mascota }}</strong>
                        |
                        <small data-toggle="tooltip" data-placement="right"
                            title="{{post.fecha_publicacion | date: 'h:mm a'}}">
                            {{post.fecha_publicacion | date: mediumDate}}</small>
                    </div>
                    <div class="cuerpo_post">
                        {{post.descripcion}}
                    </div>
                    <div *ngIf="post && post.archivos_array" class="d-flex justify-content-center p-1">
                        <div *ngFor="let imagen of post.archivos_array" id="contenedor_img">
                            <img [src]="imagen" class="style_card_img" height="100%" width="100%">
                        </div>
                    </div>

                    <!-- MODAL -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <img class="mr-2" width="45" height="45" style="border-radius: 50%;"
                                            [src]="mascota.profile_pic">
                                        <strong>{{ mascota.nombre_mascota }}</strong>
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro que desea eliminar el post?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                        (click)="eliminarPost(post)">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button id="verMasPost" type="button" class="btn btn-outline-secondary badge-pill btn-sm mb-4"
                        (click)="getPosteos()">Ver más</button>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div id="noMasPost" class="d-flex justify-content-center">
                    </div>
                </div>

            </div>

            <ng-template #sinPosteos>
                <div class="d-flex justify-content-center">
                    <div class="alert alert-success col-4" role="alert">
                        <div class="d-flex justify-content-center">
                            Aún no hay posteos.
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</ng-template>