<div *ngIf="spinner_loading; else cargado" class="text-center mt-5">
  <div class="spinner-border" role="status">
  </div>
</div>

<ng-template #cargado>
  <div class="container fade-in">
    <div class="pr-4 pl-4 mt-5">

      <button type="button" class="btn btn-secondary btn-sm mb-3" (click)="volverAtras()"> <img
          src="https://image.flaticon.com/icons/svg/271/271218.svg" width="19" height="16"> Volver</button>

      <div class="row d-flex justify-content-center mb-1">
        <div class="col-4 custom-file">
          <input type="file" class="custom-file-input" (change)="setImagenPerfilMascota($event.target.files[0])"
            id="customFile">
          <label class="custom-file-label cut_message" id="label_id" data-browse="Buscar">
            <p>Elegir foto</p>
          </label>
        </div>
      </div>

      <div *ngIf="imagen_previsualizada" class="row style">
        <div class="custom-file d-flex justify-content-center">
          <img class="img_style" [src]="imagen_previsualizada">
          <img (click)="eliminarImagen()" id="delete_img" src="https://image.flaticon.com/icons/svg/70/70287.svg">
        </div>
      </div>

      <form [formGroup]="registroMascotaForm">

        <div class="row d-flex justify-content-center mt-3">
          <div class="col-sm-3 mt-2">
            <label class="d-flex justify-content-center">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre_mascota">
            <div *ngIf="registroMascotaForm.controls['nombre_mascota'].errors?.required || 
                registroMascotaForm.controls['nombre_mascota'].errors?.minlength?.requiredLength || 
                registroMascotaForm.controls['nombre_mascota'].errors?.pattern?.requiredPattern"
              class="form-control-feedback">
            </div>
          </div>
          <div class="col-sm-3 mt-2">
            <label class="d-flex justify-content-center">Nacimiento</label>
            <input type="date" class="form-control" formControlName="fecha_nac" data-toggle="tooltip"
              data-placement="top" title="Fecha de nacimiento">
            <div *ngIf="registroMascotaForm.controls['fecha_nac'].errors?.required" class="form-control-feedback">
            </div>
          </div>
          <div class="col-sm-3 mt-2">
            <label class="d-flex justify-content-center">Tamaño</label>
            <select class="form-control" formControlName="tamanio_id">
              <option *ngFor="let tamanio of tamanios" [value]="tamanio.id_tamanio">
                {{tamanio.nombre_tamanio}}</option>
            </select>
            <div *ngIf="registroMascotaForm.controls['tamanio_id'].errors?.required" class="form-control-feedback">
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
          <div class="col-sm-2 mr-3">
            <label class="d-flex justify-content-center">Tipo</label>
            <select id="inputType" class="form-control" formControlName="tipo_mascota_id">
              <option *ngFor="let tipo of tipos_mascotas" [value]="tipo.id_tipo_mascota">
                {{tipo.nombre_tipo_mascota}}</option>
            </select>
            <div *ngIf="registroMascotaForm.controls['tipo_mascota_id'].errors?.required" class="form-control-feedback">
            </div>
          </div>
          <div class="col-sm-2 ml-3 mr-3">
            <label class="d-flex justify-content-center">Género</label>
            <select id="inputSex" class="form-control" formControlName="sexo_id">
              <option *ngFor="let sexo of sexos" [value]="sexo.id_sexo">
                {{sexo.nombre_sexo}}</option>
            </select>
            <div *ngIf="registroMascotaForm.controls['sexo_id'].errors?.required" class="form-control-feedback"></div>
          </div>
          <div class="col-sm-2 mr-3 ml-3">
            <label class="d-flex justify-content-center">Temperamento</label>
            <select id="inputTemp" class="form-control" formControlName="temperamento_id">
              <option *ngFor="let temperamento of temperamentos" [value]="temperamento.id_temperamento">
                {{temperamento.nombre_temperamento}}</option>
            </select>
            <div *ngIf="registroMascotaForm.controls['temperamento_id'].errors?.required" class="form-control-feedback">
            </div>
          </div>
          <div class="col-sm-2 ml-3">
            <label class="d-flex justify-content-center">Raza</label>
            <select id="inputRaz" class="form-control" formControlName="raza_id">
              <option *ngFor="let raza of razas" [value]="raza.id_raza">
                {{raza.nombre_raza}}</option>
            </select>
            <div *ngIf="registroMascotaForm.controls['raza_id'].errors?.required" class="form-control-feedback"></div>
          </div>
        </div>
      </form>
    </div>

    <!-- --------------------------------------------------- -->
    <div class="d-flex justify-content-center mt-5">
      <form [formGroup]="registroDomMascotaForm">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-5">
            <label class="d-flex justify-content-center">Calle</label>
            <input type="text" class="form-control" formControlName="calle">
            <div *ngIf="registroDomMascotaForm.controls['calle'].errors?.required || 
          registroDomMascotaForm.controls['calle'].errors?.minlength?.requiredLength" class="form-control-feedback">
            </div>
          </div>
          <div class="col-sm-3">
            <label class="d-flex justify-content-center">Número</label>
            <input type="number" class="form-control" formControlName="numero">
            <div *ngIf="registroDomMascotaForm.controls['calle'].errors?.required || 
          registroDomMascotaForm.controls['calle'].errors?.minlength?.requiredLength || 
          registroDomMascotaForm.controls['calle'].errors?.pattern?.requiredPattern" class="form-control-feedback">
            </div>
          </div>
          <div class="col-sm-2">
            <label class="d-flex justify-content-center">Piso</label>
            <input type="number" class="form-control" formControlName="piso">
            <div *ngIf="registroDomMascotaForm.controls['piso'].errors?.pattern?.requiredPattern"
              class="form-control-feedback">
            </div>
          </div>
          <div class="col-sm-2">
            <label class="d-flex justify-content-center">Departamento</label>
            <input type="text" class="form-control" formControlName="depto">
            <div *ngIf="registroDomMascotaForm.controls['depto'].errors?.pattern?.requiredPattern"
              class="form-control-feedback">
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
          <div class="col-sm-4">
            <label class="d-flex justify-content-center">País</label>
            <select id="inputState" class="form-control" formControlName="pais_id"
              (click)="traerProvinciasByPais($event.target.value)">
              <option *ngFor="let pais of paises" [value]="pais.id_pais">
                {{pais.nombre_pais}}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label class="d-flex justify-content-center">Provincia</label>
            <select class="form-control" formControlName="provincia_id"
              (click)="traerLocalidadesByProvincias($event.target.value)">
              <option *ngFor="let provincia of provincias" [value]="provincia.id_provincia">
                {{provincia.nombre_provincia}}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label class="d-flex justify-content-center">Localidad</label>
            <select class="form-control" formControlName="localidad_id">
              <option *ngFor="let localidad of localidades" [value]="localidad.id_localidad">
                {{localidad.nombre_localidad}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <!------------------------------------------------------->

    <div class="d-flex justify-content-center mt-4 mb-5">
      <button type="button" class="btn btn-success"
        [disabled]="registroMascotaForm.invalid || registroDomMascotaForm.invalid" (click)="submit()">Confirmar</button>
    </div>
  </div>
</ng-template>