label {
    margin-bottom: 1%;
    color: rgb(66, 65, 65);
}

.custom-file-input:hover {
    cursor: pointer !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

/* .cut_message p {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
} */

.img_style {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.style {
    margin-top: 1%;
    margin-bottom: 8%;
}

#delete_img {
    border-radius: 50%;
    width: 35%;
    height: 35%;
    position: absolute;
    top: 8%;
    left: 39%;
    z-index: 10px;
}

#delete_img:hover {
    cursor: pointer;
}