<div class="container fade-in">
  <div class="d-flex justify-content-end row pt-4 mr-4 mb-3">
    <div class="card mt-2" data-toggle="tooltip" data-placement="left" title="Agregar mascota"
      (click)="irAgregarMascota()">
      <div class="text-center">
        <img src="https://img.icons8.com/color/52/000000/plus.png">
      </div>
    </div>
  </div>

  <div class="container fade-in p-5">
    <div class="d-flex justify-content-center">
      <div *ngFor="let mascota of mascotas; let i=index" class="card mr-2 ml-2" (click)="irHome(mascota)"
        style="width: 14rem; height: 12rem;">
        <img [src]="mascota.profile_pic" class="card-img-top imagen">
        <div class="card-body d-flex justify-content-center">
          {{mascota.nombre_mascota}}
        </div>
      </div>
    </div>
  </div>
</div>