<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <a class="navbar-brand mr-4" [routerLink]="[ '/', 'home' ]">
    <img src="https://image.flaticon.com/icons/svg/1934/1934082.svg" width="38vh;" height="38vh;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-link img_estilo_map mr-2 ml-2" (click)="irMapa()"> Mapa
        <img id="img_map" src="https://image.flaticon.com/icons/svg/854/854929.svg" width="27vh;" height="25vh;">
      </a>
      <a class="nav-link img_estilo_sms" (click)="irMensaje()">Mensajes
        <img id="img_sms" src="https://image.flaticon.com/icons/svg/262/262562.svg" width="29vh;" height="29vh;">
      </a>
    </ul>

    <form [formGroup]="filtros_buscar" class="form-inline my-2 my-lg-0">

      <div class="input-group">
        <input type="text" formControlName="nombre" class="form-control" placeholder="Buscar...">
        <span class="input-group-btn">
          <button id="filtro_boton" class="btn btn-outline-secondary" type="button" data-toggle="modal"
            (click)="abrirModalBusqueda()">
            <img src="https://image.flaticon.com/icons/svg/148/148923.svg" width="17vh;" height="17vh;">
          </button>
        </span>
      </div>

      <button class="btn btn-outline-success my-2 my-sm-0 ml-2 mr-2" type="button" (click)="buscarMascota()"><img
          src="https://img.icons8.com/metro/18/000000/search.png"></button>

    </form>

    <div class="btn-group">
      <button class="btn btn-default pl-0 pr-1 pb-1 ml-2" id="boton_sms_notif" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" (click)="ponerACeroContadorSmsNoVistos()">
        <img id="img_notif" src="https://image.flaticon.com/icons/svg/1077/1077909.svg" class="saturate" width="33vw;"
          height="33vw;">
        <span *ngIf="total_sms_no_vistos> 0" id="notificaciones" class="badge badge-light">
          {{ total_sms_no_vistos }}
        </span>
      </button>
      <div id="dropdown_notificaciones" class="dropdown-menu dropdown-menu-right mt-2">
        <!-- <div *ngFor="let comunicacion of comunicaciones_con_sms_no_vistos"> -->
          <button *ngFor="let sms of mensajes_no_vistos" (click)="IrComunicacionDelMensaje(sms)"
            class="dropdown-item" type="button">
            <div class="row">
              <img id="perfil_sms_no_leido" [src]="sms?.mascota_origen.profile_pic">
              <span class="ml-3 cut_message align-self-center">
                {{ sms?.contenido }}
              </span>
            </div>
          </button>
        <!-- </div> -->
      </div>
    </div>

    <div class="dropdown">
      <button id="profile_button" class="btn btn-secondary dropdown-toggle ml-5" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{mascota.nombre_mascota}}
        <img id="img_profile" width="28vh" height="28vh" class="mr-1 ml-1" [src]="mascota.profile_pic">
      </button>
      <div class="dropdown-menu dropdown-menu-right mt-2">
        <button class="dropdown-item" (click)="irMascota()" type="button">Elegir mascota</button>
        <button class="dropdown-item" (click)="editarDatos()" type="button">Editar datos</button>
        <button class="dropdown-item" (click)="cerrarSesion()" type="button">Salir</button>
      </div>
    </div>

  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Filtrar búsqueda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="filtros_buscar">

          <div class="row d-flex justify-content-center mb-1">
            <div class="col-3">
              <label class="d-flex text-secondary">Edad desde</label>
            </div>
            <div class="col-4">
              <input type="range" (change)="validarRangoEdad()" formControlName="edad_desde" class="custom-range"
                min="0" max="15">
            </div>
            <div class="col-1">
              <span class="text-secondary"> {{  this.filtros_buscar.get('edad_desde').value }} </span>
            </div>
          </div>

          <div class="row d-flex justify-content-center mb-1">
            <div class="col-3">
              <label class="d-flex text-secondary">Edad hasta</label>
            </div>
            <div class="col-4">
              <input type="range" (change)="validarRangoEdad()" formControlName="edad_hasta" class="custom-range"
                min="0" max="15">
            </div>
            <div class="col-1">
              <span class="text-secondary"> {{  this.filtros_buscar.get('edad_hasta').value }} </span>
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-8">
              <div class="form-group">
                <select class="custom-select" formControlName="raza" required>
                  <option value="" disabled>Raza</option>
                  <option *ngFor="let raza of razas" [value]="raza.id_raza"> {{raza.nombre_raza}} </option>
                </select>
              </div>
            </div>
          </div>

          <!-- <div class="row d-flex justify-content-center">
            <div class="col-8">
              <div class="form-group">
                <select class="custom-select" formControlName="sexo" required>
                  <option value="" disabled>Sexo</option>
                  <option *ngFor="let sexo of sexos" [value]="sexo.id_sexo"> {{sexo.nombre_sexo}} </option>
                </select>
              </div>
            </div>
          </div> -->

          <div class="row d-flex justify-content-center">
            <div class="col-8">
              <div class="form-group">
                <select class="custom-select" formControlName="tamanio" required>
                  <option value="" disabled>Tamaño</option>
                  <option *ngFor="let tamanio of tamanios" [value]="tamanio.id_tamanio"> {{tamanio.nombre_tamanio}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-8">
              <div class="form-group">
                <select class="custom-select" required formControlName="temperamento">
                  <option value="" disabled>Temperamento</option>
                  <option *ngFor="let temperamento of temperamentos" [value]="temperamento.id_temperamento">
                    {{temperamento.nombre_temperamento}} </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-8">
              <div class="form-group">
                <select class="custom-select" formControlName="provincia" required
                  (change)="getLocalidadByProvincia($event.target.value)">
                  <option value="" disabled>Provincia</option>
                  <option *ngFor="let provincia of provincias" [value]="provincia.id_provincia">
                    {{provincia.nombre_provincia}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-8">
              <div class="form-group">
                <select class="custom-select" formControlName="localidad" required>
                  <option value="" disabled>Localidad</option>
                  <option *ngFor="let localidad of localidades" [value]="localidad.id_localidad">
                    {{localidad.nombre_localidad}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-8">
              <div class="form-group">
                <select class="custom-select" formControlName="radio" required>
                  <option value="" disabled>Radio</option>
                  <option value="5">5km</option>
                  <option value="10">10km</option>
                  <option value="15">15km</option>
                  <option value="25">25km</option>
                </select>
              </div>
            </div>
          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="establecer_filtros()">Establecer
          filtros</button>
      </div>
    </div>
  </div>
</div>