nav {
    font-family: 'Sniglet', cursive;
    background-color: rgb(80, 78, 78);
}

.dropdown-menu .dropdown-menu-right {
    z-index: 50000;
}

#dropdown_notificaciones {
    right: 0;
    left: auto;
    width: 25vw;
}

.navbar {
    padding-bottom: 0.5rem;
    padding-top: 0.6rem;
}

#filtro_boton {
    border-radius: 0px 6px 6px 0px !important;
}

.saturate:hover {
    -webkit-filter: saturate(1);
    filter: saturate(2);
}

#notificaciones {
    position: relative;
    top: -0.81rem;
    background-color: rgb(240, 58, 58);
    border-radius: 50% !important;
    font-size: 70%;
}

li, a {
    color: white !important;
}

li:hover, a:hover {
    cursor: pointer;
    color: #00bc8c !important;
}

#profile_button {
    border-radius: 8%;
    border: 3px solid rgb(136, 135, 135);
}

#img_profile {
    border-radius: 50%;
}

#perfil_sms_no_leido {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

#dropdown_notificaciones .cut_message {
    display: inline-block !important;
    width: 18vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .buscador {
        width: 70%;
        margin-right: 1%;
    }
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .buscador {
        width: 70%;
        margin-right: 1%;
    }
}