.image_fondo {
    height: 100vh;
    background-size: cover;
    width: auto;
    background-image: url('https://www.cinepremiere.com.mx/wp-content/uploads/2018/04/secretlife2.jpg');
    background-position: 50% 50%;
}

#ingresar_btn {
    background-color: #5cb85c !important;
    float: right;
}

.jumbotron {
    width: 40%;
    height: auto;
    opacity: 0.9;
}

input.ng-invalid.ng-touched {
    border-bottom: 0.5px solid red;
    border-right: 0.5px solid red;
    border-top: 0.5px solid red;
}

/*Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    h1 {
        font-size: 20px;
    }
    .jumbotron {
        width: 90%;
    }

    #ingresar_btn {
        width: 100%;
    }

    .input-group-text {
        padding-top: 0.155rem;
        padding-right: 0.30rem;
        padding-bottom: 0.155rem;
        padding-left: 0.30rem;
    }

    .col-2 {
        max-width: 90%;
    }
}

/*Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 20px;
    }
    .jumbotron {
        width: 90%;
    }

    #ingresar_btn {
        width: 100%;
    }

    .input-group-text {
        padding-top: 0.155rem;
        padding-right: 0.30rem;
        padding-bottom: 0.155rem;
        padding-left: 0.30rem;
    }

    .col-2 {
        max-width: 90%;
    }
}

/*Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 30px;
    }
    .jumbotron {
        width: 75%;
    }

    #ingresar_btn {
        width: 100%;
    }

    .input-group-text {
        padding-top: 0.255rem;
        padding-right: 0.50rem;
        padding-bottom: 0.255rem;
        padding-left: 0.50rem;
    }

    .col-2 {
        max-width: 90%;
    }
}

/*Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 70px;
    }

    p, span, div, button, input, h6 {
        font-size: 22px;
    }

    .jumbotron {
        width: 50%;
    }

    #ingresar_btn {
        width: 100%;
    }

    .input-group-text {
        padding-top: 0.155rem;
        padding-right: 0.30rem;
        padding-bottom: 0.155rem;
        padding-left: 0.30rem;
    }

    .col-2 {
        max-width: 90%;
    }
}

/*Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  
}