<div class="image_fondo">

    <div class="d-flex justify-content-center h-100 align-items-center fade-in">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4 text-center">Bienvenido</h1>

                <form [formGroup]="formularioInicio">
                    <div class="row d-flex justify-content-center">
                        <div class="col-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <img src="https://image.flaticon.com/icons/svg/527/527489.svg" width="25vw"
                                            height="22vh">
                                    </div>
                                </div>
                                <input type="text" formControlName="correo" class="form-control" placeholder="Correo">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <img src="https://image.flaticon.com/icons/png/512/1096/1096412.png"
                                            width="25vw" height="22vh">
                                    </div>
                                </div>
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Contraseña">
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col-8">
                            <button id="ingresar_btn" type="button" class="btn btn-success"
                                [disabled]="formularioInicio.status=='INVALID'"
                                (click)="iniciarSesion()">Ingresar</button>
                        </div>
                    </div>
                </form>

                <div class="row d-flex justify-content-center">
                    <div class="col-8">
                        <hr>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-8">
                        <div id="sms_error"></div>
                    </div>
                </div>

                <!-- <div class="row d-flex justify-content-center">
                    <div class="col-8">
                        <h6 class="d-flex justify-content-center">Iniciar sesión con:</h6>
                    </div>
                </div>

                 <div class="row d-flex justify-content-center">
                    <button id="btnFb" type="button" class="btn btn-dark col-2 mr-1" data-toggle="tooltip"
                        data-placement="top" title="Facebook">
                        <img height="32vh" width="32vw" src="https://img.icons8.com/color/48/000000/facebook.png">
                    </button>
                    <button id="btnGoogle" type="button" class="btn btn-dark col-2 ml-1" data-toggle="tooltip"
                        data-placement="top" title="Gmail">
                        <img height="25vh" width="26vw" src="https://img.icons8.com/color/48/000000/google-logo.png">
                    </button>
                </div> -->

                <div class="row d-flex justify-content-center">
                    <div class="col-8">
                        <hr>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-8">
                        <button type="button" class="btn btn-primary w-100" routerLink="/register">Registrarse</button>
                    </div>
                </div>

                <!--<div class="row d-flex justify-content-center">
                    <div class="col-8">
                        <button type="button" class="btn btn-link w-100">¿Olvidó su contraseña?</button>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

</div>