<div *ngIf="spinner_loading; else cargado" class="text-center">
    <div class="spinner-border" role="status">
    </div>
</div>

<ng-template #cargado>
    <div *ngIf="comunicaciones" class="card fade-in">
        <div class="card-header d-flex justify-content-center d-flex align-items-center">
            <h3>Contactos</h3>
        </div>

        <div *ngIf="comunicaciones.length> 0; else noHayComunicaciones">
            <ul class="list-group list-group-flush scroll-y-contact">
                <li *ngFor="let comunicacion of comunicaciones" class="list-group-item d-flex align-items-center"
                    (click)="elegirComunicacion(comunicacion)">
                    <div *ngIf="comunicacion.mascota_destino.id_mascota === mascota.id_mascota; else otra_mascota_foto">
                        <img id="img_sms_contact" [src]="comunicacion.mascota_origen.profile_pic">
                    </div>
                    <ng-template #otra_mascota_foto>
                        <img id="img_sms_contact" [src]="comunicacion.mascota_destino.profile_pic">
                    </ng-template>
                    <div *ngIf="comunicacion.mascota_destino.id_mascota === mascota.id_mascota; else otra_mascota_sms">
                        <div>
                            <h4>{{comunicacion.mascota_origen.nombre_mascota}}</h4>
                            <p class="font-italic cut_message"> {{ comunicacion.ultimo_mensaje?.contenido }} </p>
                        </div>
                    </div>
                    <!-- revisar los cut_message que no cortan bien los mensajes del back con ... -->
                    <ng-template #otra_mascota_sms>
                        <div>
                            <h4>{{comunicacion.mascota_destino.nombre_mascota}}</h4>
                            <p class="font-italic cut_message"> {{ comunicacion.ultimo_mensaje?.contenido }} </p>
                        </div>
                    </ng-template>
                </li>

            </ul>
        </div>
        <ng-template #noHayComunicaciones>
            <div class="row d-flex justify-content-center mt-5 fade-in">
                <img src="https://image.flaticon.com/icons/svg/1059/1059193.svg" width="auto" height="auto">
            </div>

            <div class="row d-flex justify-content-center fade-in mt-5 mb-5">
                <strong>Aún no hay comunicaciones abiertas</strong>
            </div>
        </ng-template>
        <div class="card-header footer" id="footer">
        </div>
    </div>
</ng-template>