/* scroll vertical básico */

.scroll-y-contact {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(121, 119, 119);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}

/* termina el style del scroll */
#img_sms_contact {
    border-radius: 50%;
    margin-right: 2%;
    width: 3vw;
    height: 6vh;
}

.card ul{
    height: 58vh;
}

.cut_message {
    display: block;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

::placeholder {
    color: rgb(73, 73, 73);
    opacity: 0.5;
    font-size: 100%;
}

.list-group-item {
    border: 0px;
    height: auto;
    align-items: center;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

.card-header {
    height: 4rem;
    background-color: rgb(238, 238, 238);
}

#footer{
    height: 5rem;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: rgba(122, 121, 121, 0.349) !important;
}

.list-group-item div p {
    margin: 0%;
    font-size: 85%;
    color: rgb(39, 39, 39)
}

.list-group-item div h4 {
    margin: 2%;
}

.list-group-item div div {
    margin-left: 3%;
}

.list-group-item ng-template div {
    margin-left: 3%;
}

/*Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    #contactos .alert {
        padding: 10%;
    }
    .list-group-item {
        border: 0px;
        height: 6vh;
        align-items: center;
        padding-bottom: 2%;
        padding-top: 2%;
        padding-left: 6%;
        padding-right: 6%;
    }
    .cut_message {
        width: 19%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    #contactos {
        padding-right: 1%;
    }
    p, span, div, button, input, h6, .alert {
        font-size: 7px;
    }
    h3 {
        font-size: 10px;
    }
    #img_sms_contact {
        width: 5vw;
        height: 4vh;
    }
    .list-group .list-group-item p {
        visibility: hidden;
    }
    .list-group .list-group-item h4 {
        font-size: 9px;
        margin-top: 5%;
    }
    .card-header {
        padding: 3% 3%;
        height: 4%;
    }
    .card-footer img {
        width: 5vw;
        height: 5vh;
    }
    .card-footer button {
        padding-bottom: 0%;
        padding-top: 0%;
        padding-left: 5%;
        padding-right: 5%;
    }
    ::placeholder {
        color: rgb(73, 73, 73);
        opacity: 0.5;
        font-size: 7px;
    }
    .scroll-y-contact {
        height: 73vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .scroll-y-chat {
        height: 56.1vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

/*Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {

    ::placeholder {
        color: rgb(73, 73, 73);
        opacity: 0.5;
        font-size: 12px;
    }
    .cut_message {
        visibility: hidden;
    }
}

/*Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {

    div .card {
        max-height: 60vh;
    }
    ::placeholder {
        color: rgb(73, 73, 73);
        opacity: 0.5;
        font-size: 15px;
    }
    .cut_message {
        width: 12vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

/*Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    
    div .card {
        max-height: 80vh;
    }

    p, span, div, button, input, h6 {
        font-size: 15px;
    }

    ::placeholder {
        color: rgb(73, 73, 73);
        opacity: 0.5;
        font-size: 100%;
    }
    
    .cut_message {
        width: 17vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

/*Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    div .card {
        max-height: 80vh;
    }
}