<div class="container">
    <div class="row">
        <div class="col-12 col-sm-7">
            <app-map></app-map>
            <!-- pasar las mascotas para que el mapa las pueda visualizar -->
        </div>
        <div class="col-12 col-sm-5 mt-4">
            <div class="list-group">
                <div *ngIf="mascotas.length === 0" class="alert alert-secondary d-flex justify-content-center" role="alert">
                    No se encontraron mascotas, intente con otro filtro.
                </div>
                <li *ngFor="let mascota of mascotas | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
                    class="list-group-item list-group-item-success mt-2 pr-0">
                    <div class="row">
                        <div class="col-10" id="irMascota" (click)="irMascota(mascota)">
                            <img [src]="mascota.profile_pic" class="mr-2">
                            {{ mascota.nombre_mascota }}
                        </div>
                        <!-- <div class="col-2 align-self-center">
                            <span (click)="cambiarEstado()">
                                <i class="far fa-heart"></i>
                            </span>
                        </div> -->
                    </div>
                </li>
                <div *ngIf="mascotas.length > pageSize" class="d-flex justify-content-center mt-3">
                    <ngb-pagination [collectionSize]="mascotas.length" [(page)]="page" [pageSize]="pageSize"
                        [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>