.image_fondo {
    height: 100vh;
    background-size: cover;
    width: auto;
    background-image: url('https://www.cinepremiere.com.mx/wp-content/uploads/2018/04/secretlife2.jpg');
    background-position: 50% 50%;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    padding-top: 6.5rem;
}
.margen_personalizado{
    margin-top: 5%;
}

input.ng-invalid.ng-touched { 
    border: 1px solid red; 
}

p, label, button, span, h5 {
    font-family: 'Sniglet', cursive;
}
