<div class="image_fondo fade-in">

  <form [formGroup]="formularioRegistro">

    <div class="row d-flex justify-content-center">
      <h3>Completar los siguientes datos:</h3>
    </div>

    <div class="form-group row mt-5 d-flex justify-content-center">
      <label
        class="col-md-2 col-xs-12 col-form-label font-weight-light d-flex justify-content-center font-weight-bolder">Email</label>
      <input type="text" formControlName="correo" class="form-control col-md-4 col-xs-12"
        placeholder="Ingresar un correo electrónico">
      <span class="col-sm-3 col-xs-12"
        *ngIf="formularioRegistro.controls.correo.errors?.pattern?.requiredPattern && formularioRegistro.controls.correo.touched"><small
          style="color: red;">Formato inválido</small></span>
    </div>
    <div class="form-group row mt-2 d-flex justify-content-center">
      <label
        class="col-md-2 col-xs-12 col-form-label d-flex justify-content-center font-weight-light font-weight-bolder">Usuario</label>
      <input type="text" formControlName="usuario" class="form-control col-md-4 col-xs-12"
        placeholder="Ingresar tu nuevo usuario">
    </div>
    <div class="form-group row mt-2 d-flex justify-content-center">
      <label
        class="col-md-2 col-xs-12 col-form-label d-flex justify-content-center font-weight-light font-weight-bolder">Contraseña</label>
      <input type="password" formControlName="password" class="form-control col-md-4 col-xs-12"
        placeholder="Ingresar contraseña">
      <span class="col-sm-3"
        *ngIf="formularioRegistro.controls.password.errors?.minlength?.requiredLength && formularioRegistro.controls.password.touched"><small
          style="color: red;">Mínimo 6 caracteres</small></span>
    </div>
    <div class="form-group row mt-2 d-flex justify-content-center">
      <label class="col-md-2 col-xs-12 col-form-label d-flex justify-content-center">Repetir contraseña</label>
      <input type="password" formControlName="confirmPassword" class="form-control col-md-4 col-xs-12"
        placeholder="Repetir contraseña" [ngClass]="{ 'is-valid':pwValidada && formularioRegistro.controls['confirmPassword'].touched, 'is-invalid':!pwValidada && formularioRegistro.controls['confirmPassword'].touched }">
    </div>

  </form>

  <div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-secondary mr-2 col-xs-12" routerLink="/login">Volver</button>
    <button type="button" class="btn btn-success col-xs-12" [disabled]="formularioRegistro.status=='INVALID'"
      (click)="registrarme()">Registrarme</button>
  </div>

  <div class="d-flex row justify-content-center mt-3">
    <div class="col-5">
      <div id="sms_error"></div>
    </div>
  </div>

</div>