#leafletmap {
    width: 80vw;
    height: 80vh;
}

a:hover {
    cursor: pointer;
    color: aquamarine;
}

.list-group-item {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

img {
    border-radius: 2%;
    height: 38vh;
    position: relative;
}

.modal {
    max-width: 100vw;
}

.list-group-item {
    border: none;
    margin-bottom: 20%;
}

.list-group-item img {
    width: 2vw;
    height: 2vw;
}

@media (max-width: 575.98px) {

    .list-group-item img {
        width: 12vw;
        height: 12vw;
    }

    .list-group-item {
        border: none;
        margin-bottom: 3%;
    }

    .modal-body{
        padding-top: 1%;
        padding-bottom: 2%; 
    }
    
}