<div id="contenedor_mapa" class="d-flex justify-content-center mt-4 fade-in">
    <!-- Inyecto el mapa dinámicamente con innerHTML -->
</div>

<!-- Modal -->
<div *ngIf="mascota_seleccionada" class="modal fade" id="modal_mascota" tabindex="-1" role="dialog"
    aria-labelledby="modal_mascotaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_mascotaTitle">Mascota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row p-2">
                    <div class="col-12 col-sm-9 pl-0 pr-1">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img [src]="mascota_seleccionada.profile_pic" class="d-block w-85">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 p-1">
                        <ul class="list-group">
                            <li class="list-group-item mt-4"> <img class="mr-1"
                                    src="https://image.flaticon.com/icons/svg/1119/1119869.svg">
                                {{ mascota_seleccionada.nombre_mascota }}
                            </li>
                            <li *ngIf="mascota_seleccionada.edad>1; else masUnAnio" class="list-group-item">
                                <img class="mr-1" src="https://image.flaticon.com/icons/svg/1183/1183805.svg">
                                {{ mascota_seleccionada.edad }} años</li>
                            <ng-template #masUnAnio>
                                <li class="list-group-item">
                                    <img class="mr-1" src="https://image.flaticon.com/icons/svg/1183/1183805.svg">
                                    {{ mascota_seleccionada.edad }} año</li>
                            </ng-template>
                            <li class="list-group-item"> <img class="mr-1"
                                    src="https://image.flaticon.com/icons/svg/593/593986.svg">
                                {{ mascota_seleccionada.sexo.nombre_sexo }}
                            </li>
                            <li class="list-group-item">
                                <button type="button" (click)="irMascota()" class="btn btn-link">Ver perfil</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>