<div *ngIf="mascota_ajena; else no_hay_mascota_seleccionada_chat" class="card fade-in">
    <div class="card-header d-flex align-items-center">
        <button (click)="irContactos()" type="button" class="btn btn-light">
            <i class="fas fa-arrow-left"></i>
        </button>
        <img class="ml-4" id="img_sms" [src]="mascota_ajena.profile_pic" style="border-radius: 50%;">
        <h3 (click)="irMascotaAjena(mascota_ajena)" class="ml-2">{{mascota_ajena.nombre_mascota}} </h3>
    </div>

    <div class="scroll-y-contact card-body" id="contenedorChat">
        <div class="d-flex justify-content-center">
            <button id="verMasMensajes" type="button" class="btn btn-outline-secondary badge-pill btn-sm mb-4"
                (click)="traerMensajes()">Ver
                más</button>
        </div>
        <div id="noMasMensajes" class="d-flex justify-content-center">
        </div>
        <div *ngFor="let mensaje of mensajes">
            <div *ngIf="mensaje?.mascota_origen_id === mascota.id_mascota; else smsAjeno">
                <div class="d-flex justify-content-end">
                    <div class="alert burbuja_chat_my_sms alert-success mb-0 col-10">
                        {{ mensaje?.contenido }}
                        <div class="font-italic d-flex align-items-end d-flex justify-content-end">
                            <small class="date_style"> {{ mensaje?.fecha | date:'M/d/yy, h:mm a' }} </small>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mb-2">
                    <div class="arrow-down-my-sms mt-0"></div>
                </div>
            </div>

            <ng-template #smsAjeno>
                <div class="alert burbuja_chat_other_contact alert-light col-10 mb-0" role="alert">
                    <div class="d-flex justify-content-end">
                        {{ mensaje?.contenido }}
                    </div>
                    <div class="font-italic d-flex align-items-end d-flex justify-content-start">
                        <small class="date_style"> {{ mensaje?.fecha | date:'M/d/yy, h:mm a' }} </small>
                    </div>
                </div>
                <div class="d-flex justify-content-start mb-2">
                    <div class="arrow-down-contact-sms"></div>
                </div>
            </ng-template>
        </div>
        <div class="d-flex justify-content-center">
            <div id="sms_error"></div>
        </div>
    </div>

    <div class="card-header" id="footer">
        <form>
            <div class="row d-flex justify-content-center">
                <textarea [formControl]="sms_contenido" class="form-control col-9 bg-secondary shadow-none" rows="2"
                    placeholder="Escribe un mensaje..."></textarea>
                <button id="btn_submit" type="button" (click)="mandarSms()"
                    class="btn btn-secondary ml-1 d-flex justify-items-center">
                    <img src="https://image.flaticon.com/icons/svg/941/941565.svg" width="20vw" height="20vw">
                </button>
            </div>
        </form>
    </div>
</div>

<ng-template #no_hay_mascota_seleccionada_chat>
    <div class="fade-in">
        <div class="d-flex justify-content-center " style="margin-top: 25%;">
            <h5>¡Selecciona un chat!</h5>
        </div>
        <div class="d-flex justify-content-center">
            <img width="120vw" height="120vh" src="https://image.flaticon.com/icons/svg/1077/1077909.svg"
                alt="chat_img">
        </div>
    </div>
</ng-template>