.scroll-y-contact {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

#sms_error {
    position: absolute;
    bottom: 4.5rem;
    z-index: 99999;
}

.date_style {
    margin-top: 1.2vh;
}

/* width */

::-webkit-scrollbar {
    width: 0.3rem;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(121, 119, 119);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}

.card .card-header button {
    border-radius: 50%;
}

.card .card-header button:hover {
    background-color: gray;
}

.card .card-header {
    background-color: rgb(238, 238, 238);
}

#img_sms {
    width: 4vw;
    height: 4vw;
}

#footer {
    background-color: rgb(238, 238, 238);
}

.arrow-down-my-sms {
    width: 0;
    height: 0;
    border-left: 0.55rem solid transparent;
    border-top: 0.55rem solid #85c57d;
    margin-right: 1%;
}

::placeholder {
    color: rgb(73, 73, 73);
    opacity: 0.5;
    font-size: 100%;
}

.arrow-down-contact-sms {
    width: 0;
    height: 0;
    border-right: 0.55rem solid transparent;
    border-top: 0.55rem solid #ecf0f1;
    margin-top: -2px;
}

h3:hover {
    cursor: pointer;
}

textarea {
    border-radius: 25px !important;
    border: 0 !important;
    background-color: transparent !important;
}

textarea {
    color: rgb(22, 22, 22) !important;
}

#btn_submit {
    border-radius: 50% !important;
    background-color: #85c57d !important;
    border: 0.5px solid rgb(104, 98, 98);
    width: 3rem;
    height: 3rem;
}

#btn_submit:hover {
    background-color: #669160 !important;
}

.card-body {
    height: 55vh;
}

.card-header {
    height: 12vh;
}

.burbuja_chat_my_sms {
    color: rgb(36, 36, 36);
    display: inline-block;
    margin-right: 1%;
    padding-left: 5%;
    padding-right: 1.7%;
    padding-top: 1%;
    padding-bottom: 0%;
    border-radius: 25px 25px 0px 25px !important;
}

.burbuja_chat_other_contact {
    color: rgb(36, 36, 36);
    display: inline-block;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    border-radius: 25px 25px 25px 0px !important;
}

.alert-success {
    background-color: #85c57d !important;
}

/*Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    p, span, div, button, input, h6, .alert {
        font-size: 7px;
    }
    h3 {
        font-size: 10px;
    }
    #img_sms {
        width: 10vw;
        height: 8vh;
    }
    .list-group .list-group-item p {
        visibility: hidden;
    }
    .list-group .list-group-item h4 {
        font-size: 9px;
        margin-top: 5%;
    }
    .card-header {
        padding: 3% 3%;
        height: 4%;
    }
    .card-footer img {
        width: 5vw;
        height: 5vh;
    }
    .card-footer button {
        padding-bottom: 0%;
        padding-top: 0%;
        padding-left: 5%;
        padding-right: 5%;
    }
    ::placeholder {
        color: rgb(73, 73, 73);
        opacity: 0.5;
        font-size: 7px;
    }
    .scroll-y-contact {
        height: 73vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .scroll-y-chat {
        height: 56.1vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

/*Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    #img_sms {
        width: 5vw;
        height: 5vh;
    }
    ::placeholder {
        color: rgb(73, 73, 73);
        opacity: 0.5;
        font-size: 12px;
    }
}

/*Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    #img_sms {
        width: 7vw;
        height: 6vh;
    }
    ::placeholder {
        color: rgb(73, 73, 73);
        opacity: 0.5;
        font-size: 15px;
    }
}

/*Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    p, span, div, button, input, h6 {
        font-size: 15px;
    }
    ::placeholder {
        color: rgb(73, 73, 73);
        opacity: 0.5;
        font-size: 100%;
    }
}

/*Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}