.custom-file-input {
    width: 5vw;
    cursor: pointer;
}

.custom-file #input_file:hover {
    cursor: pointer;
}

.style_card_img {
    border-radius: 8px;
    position: relative;
    height: 100%;
    width: 100%;
}

#asd {
    width: 6vw;
    height: 6vh;
    position: absolute;
    left: 0;
}

#asd:hover {
    cursor: pointer;
}

#contenedor_img {
    position: relative;
    width: 33.3%;
    height: 35%;
    display: inline-block;
    padding: 0.4%;
    /*funciona como margin entre las imágenes*/
}

#delete_img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    position: absolute;
    top: 8%;
    right: 0.5%;
    z-index: 10px;
}

#delete_img:hover {
    cursor: pointer;
}