<div>
    <div class="row">
        <div class="col-12">
            <form action="GET" [formGroup]="post">
                <div class="form-group">
                    <div class="card">
                        <textarea formControlName="descripcion" style="color: darkslategrey;" class="form-control"
                            id="text_area" rows="3"></textarea>
                        <div *ngIf="imgHTML.length> 0" style="padding: 1%;">
                            <div *ngFor="let imagen of imgHTML; let i=index" id="contenedor_img">

                                <img class="style_card_img" [src]="imagen" height="100%" width="100%">

                                <img (click)="eliminarImagen(i)" id="delete_img"
                                    src="https://image.flaticon.com/icons/svg/70/70287.svg">

                            </div>
                        </div>
                        <div class="progress" style="height: 2px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="d-flex bd-highlight">

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="input_file" (change)="getImage($event)">
                    <img id="asd" src="https://image.flaticon.com/icons/svg/685/685668.svg" width="38vw;"
                        height="38vh;">
                </div>

                <div class="pr-2">
                    <button type="button" id="post_button" class="btn btn-sm btn-primary bd-highlight"
                        (click)="hacerPost()">
                        <img src="https://image.flaticon.com/icons/svg/941/941565.svg" width="27vh;" height="27vh;">
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>