.scroll-y-contact {
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

.margen-bottom {
    margin-bottom: 4rem;
}

.custom-file-input:hover {
    cursor: pointer;
}

.row .btn-light {
    /* height: 2rem; */
    right: 0;
    position: absolute;
    border-radius: 50%;
    margin-right: 2%;
}

.card .card-header {
    background-color: rgb(201, 200, 200);
}

.card-body {
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 28rem !important;
    height: 11rem !important;
}

#delete_img {
    border-radius: 50%;
    width: 35%;
    height: 35%;
    position: absolute;
    top: 8%;
    left: 39%;
    z-index: 10px;
}

#delete_img:hover {
    cursor: pointer;
}

.img_style {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#abajo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.list-group-item:hover {
    cursor: pointer;
    color: #18BC9C;
}

#img_profile {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

#contenedor_img {
    position: relative;
    width: 33.3%;
    height: 35%;
    display: inline-block;
    padding: 0.4%;
    /*funciona como margin entre las imágenes*/
}

textarea {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.a {
    text-align: center;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    div {
        font-size: 5px;
    }
    .col-3 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .list-group-item {
        padding: 0.2rem 0.2rem;
    }
    ngb-pagination ::ng-deep .pagination .page-link {
        padding-top: 0.1rem !important;
        padding-right: 0.1rem !important;
        padding-bottom: 0.1rem !important;
        padding-left: 0.1rem !important;
    }
    #img_profile {
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #img_profile {
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
    }

}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    div .card .card-body {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 0.7rem;
        padding-top: 0.7rem;
    }
    ngb-pagination ::ng-deep .pagination .page-link {
        padding-top: 0.3rem !important;
        padding-right: 0.3rem !important;
        padding-bottom: 0.3rem !important;
        padding-left: 0.3rem !important;
    }
    #img_profile {
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
    }
  
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    #img_profile {
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}