<div class="container fade-in mt-3">

    <div *ngIf="mascota" class="row d-flex justify-content-center">

        <div class="col-3">
            <img id="img_profile" [src]="mascota.profile_pic" alt="imagen_perfil">
        </div>

        <div class="col-5 d-flex align-items-center">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h1 class="ml-2">{{mascota.nombre_mascota}} </h1>
                        <button type="button" data-toggle="modal" data-target="#editarPerfil" class="btn btn-light"><img src="https://image.flaticon.com/icons/svg/148/148926.svg" width="18" height="20"></button>
                    </div>
                    <p>{{ mascota.biografia || '¿Qué querés decir de la mascota?' }}</p>
                    <div class="d-flex justify-content-around">
                        <div class="d-inline">
                            <i class="fas fa-map-marker-alt" data-toggle="tooltip" data-placement="bottom" title="Ubicación"></i>
                            <p class="ml-1 d-inline text-muted">{{ mascota.provincia.nombre_provincia }},
                                {{mascota.pais.nombre_pais}} </p>
                        </div>
                        <div class="d-inline">
                            <i class="fas fa-paste" data-toggle="tooltip" data-placement="bottom" title="Posteos"></i>
                            <p class="ml-1 d-inline text-muted">{{ cant_post }} post</p>
                        </div>
                        <div class="d-inline">
                            <i class="far fa-calendar-alt" data-toggle="tooltip" data-placement="bottom" title="Fecha de nacimiento"></i>
                            <p class="ml-1 d-inline text-muted"> {{ mascota.fecha_nac | date: 'd/M/yyyy' : 'UTC' }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8">
            <div *ngIf="mascota" class="mb-5 mt-4 pb-1">
                <div>
                    <app-hacer-post (post_nuevo)='agregar_nuevo_post($event)'></app-hacer-post>
                </div>
                <div class="mt-4">
                    <app-lista-post [mascota]="mascota" [post_nuevo]="post"
                        (cant_post)='actualizarContadorPost($event)'></app-lista-post>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editarPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="actualizarDatos">
                        <div class="row d-flex justify-content-center mb-1">
                            <div class="mb-1">
                                <div *ngIf="imagen_previsualizada; else imagenSinCambios">
                                    <div class="custom-file d-flex justify-content-center margen-bottom">
                                        <img class="img_style" [src]="imagen_previsualizada">
                                    </div>
                                </div>
                                <ng-template #imagenSinCambios>
                                    <div class="col-6">
                                        <img [src]="mascota.profile_pic" class="img_style">
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mb-1">
                            <div class="col-6 custom-file mb-3">
                                <input type="file" class="custom-file-input"
                                    (change)="setImagenPerfilMascota($event.target.files[0])" id="customFile">
                                <label class="custom-file-label cut_message" id="label_id" data-browse="Buscar">
                                    <p>Elegir foto</p>
                                </label>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <input class="form-control col-8" type="text" formControlName="nombre_mascota">
                        </div>
                        <div class="row d-flex justify-content-center mt-3 mb-3">
                            <textarea formControlName="biografia" class="form-control shadow-none col-8"
                                rows="2"></textarea>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <input type="date" formControlName="fecha_nac" class="form-control col-8"
                                data-toggle="tooltip" data-placement="right" title="Fecha de nacimiento" [max]="hoy">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="actualizarPerfil()">Guadar</button>
                </div>
            </div>
        </div>
    </div>

</div>